@using Tehnika.Models
@model IEnumerable<ShoppingCart>
@{
    ViewBag.Title = "Преглед на купени производи";
}

<h2>Преглед на купени производи</h2>


<table class="table">
    <tr>
        <th>Корисничко име</th>
        <th>Адреса</th>
        <th>Продукти</th>
    </tr>
    @foreach(ShoppingCart shoppingCart in Model) {
<tr>
    <td>@shoppingCart.username</td>
    <td>@shoppingCart.address</td>
    <td><a class="btn btn-success" href="/products/viewcart/@shoppingCart.Id">Прегледајте продукти</a></td>
    
</tr>
    }
</table>

