@{
    ViewBag.Title = "За нас";
}
<h2>@ViewBag.Title.</h2>
<p>Техника е најголемата малопродажна и дистрибутивна мрежа на производи од бела техника, апарати за домаќинство, ТВ/Аудио/Видео, компјутери, телефони, фото апарати и камери, производи за нега и убавина, ладење и греење, во Македонија.</p>
<p>Нашата компанија е формирана во 2003 година во Скопје и се занимава со продажба на производи од тип на техника.</p>
<p>Нашата мисија е да бидеме секогаш со најквалитетни производи и со најниски цени на пазарот.</p>
<h2>Историјат</h2>
<p>Првата продавница на Техника е отворена во 1998 година во Градскиот трговски центар (ГТЦ) во Скопје. Во 2006 година се отвораат продавниците во Градскиот стадион во Скопје, како и на репрезентативни локации во Гостивар и Тетово. Во наредниот период, компанијата продолжува да ги доближува своите услуги до купувачите од другите градови во Македонија отворајќи продавници во Охрид и Куманово во 2007 година, во 2008 година мрежата се шири во Струга, Прилеп и Битола, а во 2009 година во Штип, Струмица и Кочани. 2007-та година е значајна и по започнувањето на експанзијата на мрежата Техника на Косовскиот пазар. 2012 година е година во која во Скопје се отвoраат двете најголеми продавници, во Аеродром и Скопје Сити Мол во Карпош. Во периодот од 2012 до 2017 година се отвораат продавници во Кавадарци, Гевгелија, Велес, Кичево, Дебар, Крива Паланка, Радовиш, Ресен, Чаир, Неготино, Свети Николе и Сарај во Скопје.</p>