@{
    ViewBag.Title = "Контакт";
}

<h3>@ViewBag.Message</h3>

<address>
    Улица 1523, 1000 Скопје - Македонија<br />
    <br />
    <abbr title="Телефон">Телефон:</abbr>
    076 37 00 04
</address>

<address>
    <strong>Поддршка:</strong>   <a href="mailto:Support@example.com">customercare@tehnika.mk</a><br />
    <strong>Маркетинг:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23721.968457454026!2d21.410861999779005!3d41.99499456961847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1354144ac20fc381%3A0xe2a89a562b0da73d!2sCentar%2C%20Skopje%201000!5e0!3m2!1sen!2smk!4v1631206595634!5m2!1sen!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>