
@{
    ViewBag.Title = "Продажни салони";
}

<h1 style="font-weight: bold">Продажни салони</h1>

<h3>Скопје</h3>
<h5>Карпошева бр. 1</h5>
<h5>02 123 456</h5>

<h3>Битола</h3>
<h5>Партизанска бр. 15</h5>
<h5>03 123 456</h5>

<h3>Охрид</h3>
<h5>Партизански Одреди бр. 2</h5>
<h5>04 123 456</h5>

<h3>Свети Николе</h3>
<h5>Вера Циривири бр. 12</h5>
<h5>05 123 456</h5>

<h3>Крива Паланка</h3>
<h5>Карпошева бр. 13</h5>
<h5>06 123 456</h5>

<h3>Неготино</h3>
<h5>Ленинова бр. 33</h5>
<h5>07 123 456</h5>

<h3>Куманово</h3>
<h5>Блаже Конески бр. 14</h5>
<h5>08 123 456</h5>



